<%= form_for(image) do |f| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<form class= "form-inline">
  <div class="form-group">
    <label for="email">URL:</label>
    <%= f.text_field :url, class: "form-control" %>
  </div>
  <div class="form-group">
    <label for="height">Max Height:</label>
    <%= f.number_field :height, class: "form-control", min: "0" %>
  </div>
  <div class="form-group">
    <label for="width">Max Width:</label>
    <%= f.number_field :width, class: "form-control", min: "0" %>
  </div>
  <button type="submit" class="btn btn-success disable btn-block">Submit</button>
</form>

</br>

<% end %>
