<div class="table-responsive">          

<table class="table">
    <thead>
      <tr>
        <th>URL</th>
        <th>Max Height</th>
        <th>Max Width</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @images.each do |image| %>
      <tr>


        <td><%= link_to image_url(image.url), asset_url(image.photo.thumb("#{image.height}x#{image.width}>").url) if image.photo_stored? %></td>


	
        <td> <%= image.height %></td>
        <td> <%= image.width %> </td>
	<td> <%= button_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>  </td>

      </tr>
      <% end %>
    </tbody>
  </table>
<br>


<%= button_to 'New URL', new_image_path, method: :get, class: "btn btn-primary" %>  
</div>
